# Android Studio
*.iml
.idea/
.gradle/
local.properties

# Archivos generados de compilación
/build/
*/build/
*/out/
captures/
.externalNativeBuild/
.cxx/

# Archivos de Gradle
*.apk
*.lock

# Logs y cachés
*.log
.caches/

# Archivos temporales y de respaldo
*.swp
*.swo
*~ 
*.tmp
*.temp
*.bak

# macOS
.DS_Store

# Android AVD
*.avd